HorseIRTypeSlides.aux
HorseIRTypeSlides.dvi
HorseIRTypeSlides.log
HorseIRTypeSlides.nav
HorseIRTypeSlides.out
HorseIRTypeSlides.ps
HorseIRTypeSlides.snm
HorseIRTypeSlides.toc
HorseIRTypeSlides.vrb
HorseIRTypeSlides.pdf